<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout/cssPart::cssPart">
</head>
<body>
<!--<div class="layui-container">-->


    <div class="layui-card" style="padding: 20px 20px 20px 20px;">

        <input id="bapiName" th:value="${bapiName}" hidden/>

        <div class="layui-card-header">
            <h class="header-title" th:text="${bapiName}"></h>
            <span class="layui-breadcrumb pull-right">
                <button id="bapi-btn-access" class="layui-btn layui-btn-normal layui-btn-xs"><i class="layui-icon">&#xe615;</i>Run</button>
            </span>
        </div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space30">
                <div class="layui-col-md7">

                    <h4>Import参数信息</h4>
                    <table class="layui-table" id="bapi-importParams-table" lay-filter="bapi-importParams-table"></table>

                    <h4>Export参数信息</h4>
                    <table class="layui-table" id="bapi-exportParams-table" lay-filter="bapi-exportParams-table"></table>

                    <h4>Table参数信息</h4>
                    <table class="layui-table" id="bapi-tableParams-table" lay-filter="bapi-tableParams-table"></table>

                </div>

                <div class="layui-col-md5">

                    <h4>发送数据:</h4>
                    <div id="import_jsoneditor" style="height: 500px;"></div>

                    <h4>返回数据:</h4>
                    <div id="export_jsoneditor" style="height: 500px;"></div>

                </div>
            </div>
        </div>
    </div>
<!--</div>-->


<div th:include="layout/jsPart::jsPart"></div>

<script>
    layui.use(['table', 'treetable', 'form', 'util', 'admin', 'element'], function () {
        var $ = layui.$;
        var layer = layui.layer;
        var table = layui.table;
        var treetable = layui.treetable;

        var import_container, export_container,
            import_json, export_json,
            import_editor, export_editor,
            import_options, export_options;

        import_container = document.getElementById('import_jsoneditor');
        export_container = document.getElementById('export_jsoneditor');

        // 输入数据
        import_json = {};
        // 输出数据
        export_json = {};

        import_options = {
            mode: 'code',
            onError: function (err) {
                alert(err.toString());
            },
            onChange: function () {

            },
            onChangeJSON: function (json) {
            },
            onChangeText: function (text) {
                import_json = $.parseJSON(text);
            },
            indentation: 4,
            escapeUnicode: true
        };

        export_options = {
            mode: 'code',
            onError: function (err) {
                alert(err.toString());
            },
            onChange: function () {
            },
            onChangeJSON: function (json) {
                alert("b");
            },
            onChangeText: function (text) {
                export_json = text;
            },
            indentation: 4,
            escapeUnicode: true
        };

        import_editor = new JSONEditor(import_container, import_options, import_json);
        export_editor = new JSONEditor(export_container, export_options, export_json);


        // 按钮点击事件
        $('#bapi-btn-access').click(function () {
            layer.load(2);
            $.ajax({
                type : 'POST',
                url : '../callBapi/call',
                contentType : "application/json",
                dataType : 'json',
                data : JSON.stringify(import_json),
                success: function(data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                        export_json = data.data;
                        export_editor.update(export_json);
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                },
                error: function(data) {
                    layer.closeAll('loading');
                    layer.msg("服务器连接失败", {icon: 2});
                }
            });
        });

        // 渲染表格
        var renderTable = function (bapiName) {
            layer.load(2);
            $.post('../callBapi/getBapiInfo', {bapiName: bapiName} , function (res) {
                layer.closeAll('loading');
                if (res.code == 200) {

                    var importDatas = res.data.import;
                    var exportDatas = res.data.export;
                    var tableDatas = res.data.tables;

                    setImport_json(importDatas, exportDatas, tableDatas);

                    // 输入参数
                    treetable.render({
                        treeColIndex: 1,
                        treeSpid: 'INPUT',
                        treeIdName: 'fieldName',
                        treePidName: 'pname',
                        treeDefaultClose: true,
                        treeLinkage: false,
                        elem: '#bapi-importParams-table',
                        data: importDatas,
                        page: false,
                        size: 'sm',
                        cols: [
                            [
                                {align: 'center', field: 'indexOf', title: '序号', width: 60},
                                {align: 'left', field: 'fieldName', title: '栏位'},
                                {align: 'center', field: 'description', title: '描述'},
                                {align: 'center', field: 'dafault', title: '默认'},
                                {align: 'center', field: 'isImport', title: '输入'},
                                {align: 'center', field: 'isStructure', title: '结构体'},
                                {align: 'center', field: 'isTable', title: '内表'},
                                {align: 'center', field: 'isOptional', title: '必须', width: 60},
                                {align: 'center', field: 'type', title: '类型'},
                                {align: 'center', field: 'classNameOfField', title: 'Java'}
                            ]
                        ]
                    });

                    // 输出参数
                    treetable.render({
                        treeColIndex: 1,
                        treeSpid: 'OUTPUT',
                        treeIdName: 'fieldName',
                        treePidName: 'pname',
                        treeDefaultClose: true,
                        treeLinkage: false,
                        elem: '#bapi-exportParams-table',
                        data: exportDatas,
                        page: false,
                        size: 'sm',
                        cols: [
                            [
                                {align: 'center', field: 'indexOf', title: '序号', width: 60},
                                {align: 'left', field: 'fieldName', title: '栏位'},
                                {align: 'center', field: 'description', title: '描述'},
                                {align: 'center', field: 'dafault', title: '缺省值'},
                                {align: 'center', field: 'isImport', title: '输入'},
                                {align: 'center', field: 'isStructure', title: '结构体'},
                                {align: 'center', field: 'isTable', title: '内表'},
                                {align: 'center', field: 'isOptional', title: '必须', width: 60},
                                {align: 'center', field: 'type', title: '类型'},
                                {align: 'center', field: 'classNameOfField', title: 'Java'}
                            ]
                        ]
                    });

                    // 内表
                    treetable.render({
                        treeColIndex: 1,
                        treeSpid: 'TABLES',
                        treeIdName: 'fieldName',
                        treePidName: 'pname',
                        treeDefaultClose: true,
                        treeLinkage: false,
                        elem: '#bapi-tableParams-table',
                        data: tableDatas,
                        page: false,
                        size: 'sm',
                        cols: [
                            [
                                {align: 'center', field: 'indexOf', title: '序号', width: 60},
                                {align: 'left', field: 'fieldName', title: '栏位'},
                                {align: 'center', field: 'description', title: '描述'},
                                {align: 'center', field: 'dafault', title: '缺省值'},
                                {align: 'center', field: 'isImport', title: '输入'},
                                {align: 'center', field: 'isStructure', title: '结构体'},
                                {align: 'center', field: 'isTable', title: '内表'},
                                {align: 'center', field: 'isOptional', title: '必须', width: 60},
                                {align: 'center', field: 'type', title: '类型'},
                                {align: 'center', field: 'classNameOfField', title: 'Java'}
                            ]
                        ]
                    });

                } else {
                    layer.msg(data.msg, {icon: 2});
                }

            });
        };

        // 设置import_json
        var setImport_json = function(importMetaDatas, exportMetaDatas, tableMetaDatas) {

            var inParams = {};
            var inStructures = {};
            var inTables = {};
            var outParamsNames = new Array();
            var outStructuresNames = new Array();
            var outTablesNames = new Array();

            for (var i = 0; i<importMetaDatas.length; i++){
                var importMetaData = importMetaDatas[i];

                if(importMetaData.isStructure == false) {
                    inParams[importMetaData.fieldName] = importMetaData.dafault;
                } else {
                    inStructures[importMetaData.fieldName] = {};
                }
            }

            for (var i = 0; i<exportMetaDatas.length; i++) {
                var exportMetaData = exportMetaDatas[i];

                if(exportMetaData.isStructure == false) {
                    outParamsNames.push(exportMetaData.fieldName);
                } else {
                    outStructuresNames.push(exportMetaData.fieldName);
                }
            }

            for (var i = 0; i<tableMetaDatas.length; i++) {
                var tableMetaData = tableMetaDatas[i];

                if(tableMetaData.isTable != true) {
                    continue;
                }
                if(tableMetaData.isImport == true) {
                    inTables[tableMetaData.fieldName] = new Array();
                } else {
                    outTablesNames.push(tableMetaData.fieldName);
                }
            }


            import_json["bapiName"] =  $("#bapiName").val();
            import_json["inParams"] = inParams;
            import_json["inStructures"] = inStructures;
            import_json["inTables"] = inTables;
            import_json["outParamsNames"] = outParamsNames;
            import_json["outStructuresNames"] = outStructuresNames;
            import_json["outTablesNames"] = outTablesNames;

            import_editor.update(import_json);
        };

        renderTable($("#bapiName").val());

    });
</script>
</body>
</html>
