<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div class="layui-logo">
        <img src="assets/images/logo.svg"/>
        <cite style="font-size: 18px;padding-left: 10px;padding-right: 60px;">SAPJCO</cite>
    </div>

    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" ew-event="flexible" title="侧边伸缩">
                <i class="layui-icon layui-icon-shrink-right"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="http://www.layui.com/admin/" target="_blank" title="前台">
                <i class="layui-icon layui-icon-website"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" ew-event="refresh" title="刷新">
                <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
        </li>
    </ul>

    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item" lay-unselect>
            <a lay-href="app/message/index.html" id="btnMessage" title="消息">
                <i class="layui-icon layui-icon-notice"></i>

                <!-- 如果有新消息，则显示小圆点 -->
                <span class="layui-badge-dot"></span>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
                <i class="layui-icon layui-icon-theme"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
                <i class="layui-icon layui-icon-note"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" ew-event="fullScreen" title="全屏">
                <i class="layui-icon layui-icon-screen-full"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect=>
            <a href="javascript:;">
                <img src="assets/images/head.png" class="layui-nav-img">
                <cite th:text="${login_user.nickName}"></cite>
            </a>
            <dl class="layui-nav-child">
                <dd lay-unselect><a id="setInfo">基本资料</a></dd>
                <dd lay-unselect><a id="setPsw">修改密码</a></dd>
                <hr>
                <dd lay-unselect><a id="btnLogout">退出</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item" lay-unselect>
            <a ew-event="theme" title="主题"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
    </ul>
</div>
</html>