<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="jsPart">
    <script type="text/javascript" th:src="@{/assets/libs/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/q.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/zTree/js/jquery.ztree.all-3.5.min.js}"></script>
    <!-- jsoneditor插件 -->
    <script type="text/javascript" th:src="@{/assets/libs/jsoneditor/jsoneditor.min.js}"></script>

    <script>
        layui.config({
            base: '/module/'
        }).extend({
            formSelects: 'formSelects/formSelects-v4',
            treetable: 'treetable-lay/treetable'
        }).use(['admin'], function () {
            var admin = layui.admin;

        });
    </script>
</div>
</html>
