<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ivo.sapweb.system.dao.RoleAuthoritiesMapper">

    <insert id="insertRoleAuths">
        INSERT INTO sys_role_authorities (role_id,authority_id,create_time) VALUES
        <foreach collection="authIds" item="authId" separator=",">
            (#{roleId},#{authId},SYSDATE())
        </foreach>
    </insert>
</mapper>