<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">权限管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">首页</a>
          <a><cite>权限管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            搜索：<input id="auth-edit-search" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="auth-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button id="auth-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
        </div>

        <!-- 数据表格 -->
        <table class="layui-table" id="auth-table" lay-filter="auth-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['form', 'table', 'util', 'admin', 'treetable'], function () {
        var $ = layui.$;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var treetable = layui.treetable;

        // 渲染表格
        var renderTable = function () {
            treetable.render({
                treeColIndex: 1,
                treeSpid: -1,
                treeIdName: 'authorityId',
                treePidName: 'parentId',
                elem: '#auth-table',
                url: 'system/authorities/list',
                page: false,
                cols: [
                    [
                        {type: 'numbers'},
                        {field: 'authorityName', minWidth: 200, title: '权限名称'},
                        {field: 'authority', title: '权限标识'},
                        {field: 'menuUrl', title: '菜单url'},
                        {field: 'orderNumber', width: 80, align: 'center', title: '排序号'},
                        {
                            field: 'isMenu', width: 80, align: 'center', templet: function (d) {
                                if (d.isMenu == 1) {
                                    return '<span class="layui-badge layui-bg-gray">按钮</span>';
                                }
                                if (d.parentId == -1) {
                                    return '<span class="layui-badge layui-bg-blue">目录</span>';
                                } else {
                                    return '<span class="layui-badge-rim">菜单</span>';
                                }
                            }, title: '类型'
                        },
                        {templet: '#auth-state', width: 120, align: 'center', title: '操作'}
                    ]
                ]
            });
        };

        renderTable();

        // 工具条点击事件
        table.on('tool(auth-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'del') { // 重置密码
                layer.confirm('确定删除此权限吗？', function () {
                    layer.load(2);
                    $.post('system/authorities/delete', {
                        authorityId: obj.data.authorityId
                    }, function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {
                            layer.msg(data.msg, {icon: 1});
                            renderTable();
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    });
                });
            }
        });

        // 同步按钮点击事件
        $('#auth-btn-add').click(function () {
            showEditModel();
        });

        // 显示表单弹窗
        var showEditModel = function (data) {
            var title = data ? '修改权限' : '添加权限';
            admin.putTempData('t_authoritie', data);
            admin.popupCenter({
                title: title,
                path: 'system/authorities/editForm',
                finish: function () {
                    renderTable();
                }
            });
        };

        // 搜索按钮点击事件
        $('#auth-btn-search').click(function () {
            var keyword = $('#auth-edit-search').val();
            var searchCount = 0;
            $('#auth-table').next('.treeTable').find('.layui-table-body tbody tr td').each(function () {
                $(this).css('background-color', 'transparent');
                var text = $(this).text();
                if (keyword != '' && text.indexOf(keyword) >= 0) {
                    $(this).css('background-color', 'rgba(250,230,160,0.5)');
                    if (searchCount == 0) {
                        $('.layui-tab-item.layui-show').stop(true);
                        $('.layui-tab-item.layui-show').animate({scrollTop: $(this).offset().top - 150}, 500);
                    }
                    searchCount++;
                }
            });
            if (keyword != '' && searchCount == 0) {
                layer.msg("没有匹配结果", {icon: 5});
            } else {
                treetable.expandAll('#auth-table');
            }
        });
    });
</script>